$fundo : #002244;
$cor : #FFFFFF;
$fonte : "Trebuchet MS";
$fonte-tamanho: 24px;


// <div class="container">
//   <p class="container__item">OLA</p>
//   <p class="container__item">OLA</p>
// </div>

// .container {
//   height: 40px;
//   background:purple;

//   &__item {
//     color: white;
//   }
// }
