#redes-sociais {
  /* border: 1px solid yellow; */
  margin-top: 100px;
}

#redes-sociais a {
  border: 2px solid var(--cor-menu-hover);
  /* o valor 50% transforma o elemento em uma esfera independente do seu tamanho "desde que seja um quadrado" */
  border-radius: 50%;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 30px;
  transition: background 1s;
}

#redes-sociais a:last-child {
  margin-right: 0;
}

#redes-sociais a:hover {
  background: var(--cor-menu-hover);
}
/* você deve ajustar este elemento conforme o tamanho do seu nome */
.maquina-de-escrever {
  width: 586px;
}

h1 {
  font-size: 58px;
  /* overflow: é o scrollbar - hidden: estamos ocultando o scroll */
  overflow: hidden;
  /* nowrap : não quebra o texto nos espaços entre as palavras */
  white-space: nowrap;
  /*  */
  animation: escrever 3.5s steps(30), cursor_piscando .5s infinite step-end;
}

@keyframes escrever {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes cursor_piscando {
  from,
  to {
    border-right: 6px solid white;
  }
  50% {
    border-right: none;
  }
}







.polaroid {
  width: 80%;
  background: white;
  padding: 10px 10px 80px 10px;
  transform: rotate(10deg);
  box-shadow: 4px 4px 40px 4px var(--azul-escuro);
  border-radius: 4px;
}


