@media screen and (max-width: 1170px) {
  /* voce pode ter quantas media queries desejar para ir adaptando conforme 
     a cobertura de dispositivos / telas */
}

@media screen and (max-width: 900px) {
  /* ajusta os elementos principais para nao terem mais largura FIXA (1170px) */
  header div {
    width: 100%;
  }

  .container {
    width: 100%;
  }


  h1 {
    font-size: 28px;
    animation: none;
  }

  p {
    font-size: 14px;
  }

  section {
    width: 100%;
    padding: 14px;
  }

  .maquina-de-escrever {
    width: auto;
  }

  .polaroid {
    width: 40%;
    border-radius: 50%;
    padding: 2px;
    transform: none;

  }

  aside {
    width: 100% !important;
    margin: 0 !important;
    /* centraliza na tela elementos do tipo TEXTO e INLINE */
    text-align: center;
  }

  #menu {
    display: none;
    
    /* ajuste responsivo do menu */
    float: none;
    margin-top: 10px;

    /* vai ficar com scroll - coloca isso */
    position: absolute;
    width: 100%;
    background: var(--azul-escuro);
  }

  /* ajuste responsivo do menu */
  #menu a {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    display: block;
    width: 100%;
  }

  #menu.mostraMenu {
    display: block;
    /* se perguntarem do transition - nao funciona para display nem para position */
    transition: width 1s;
  }




  #burger {
    display: block;
  }

  /* secao de contato */
  iframe {
    display: none;
  }
}

