div {
  width: 100px;
  height: 100px;
  border: 3px solid orange;
}

#div-1 {
  transform: translate(120px, 10px);
}

#div-2:hover {
  /* deg : graus */
  /* transform: rotate(30deg); */
  transform: rotate(-0.7turn);
}

#div-3 {
  transform: skew(10deg, 10deg);
}

#div-4:hover {
  transform: scale(1.1);
}

#div-5:hover {
  /* transform é uma propriedade como todas as outras, que aceita multiplos valores */
  transform: scale(1.1) rotate(30deg);
  background: orange;
  border-radius: 10px;
}
