extends layout.pug

block content
  h1 Filmes

  form(action="/filmes",method="GET").form-inline
    .row
      .col-md-6
        .form-group
          a(href="/filmes-novo").btn.btn-primary NOVO
      .col-md-6.text-right
        .form-group
          input(type="text",name="nome",placeholder="Busca por nome...").form-control
          button(type="submit").btn.btn-default BUSCAR


  hr
  table.table.table-hover
    thead
      th NOME
      th ANO
      th 
    each f in filmes
      tr
        td=f.nome
        td=f.ano
        td
          form(method="POST",action="/filmes-excluir")
            a(href="/filmes-editar?_id=" + f._id).btn.btn-sm.btn-warning EDITAR
            span=' '
            input(type="hidden",name="_id",value=f._id)
            button(type="submit",onclick="return confirm('Excluir?')").btn.btn-sm.btn-danger EXCLUIR




            