body {
  background: #0096D6;
  color: #ffffff;
  font-family: Arial;
}

.caixa {
  border: 2px dashed #ffffff;
  width: 400px;
  padding: 10px;
}
/* a virgula serve para passar varios seletores */
input,
textarea {
  width: 390px;
  padding: 4px;
  margin-bottom: 10px;
  font-family: Arial; 
}

textarea {
  width: 392px;
  height: 130px;
}

/* como acessar o checkbox ? */
/* conseguimos acessar o seletor por seus atributos */
input[type=checkbox] {
  width: auto;
}

button {
  color: #ffffff;
  background: #0096D6;
  border: 2px solid #ffffff;

  width: 400px;
  padding: 10px;
  margin-top: 20px;
}






