.container {
  border: 1px solid red;
  width: 1150px;
  height: 410px;
  padding: 10px;
  margin: 0 auto;
}

aside {
  border: 1px solid orange;
}

.esquerda {
  width: 600px;
  height: 406px;
  float: left;
  background: rgba(255,255,100, 0.5);
  margin-right: 88px;
}

.direita {
  width: 450px;
  height: 406px;
  background: purple;
  float: right;
}
