a {
  background: red;
  width: 100px;
  height: 100px;
  display: block;
}


h1 {
  background: yellow;
  display: inline;
}

h2 {
  background: tomato;
  width: 200px;
  display: inline-block;
}


div {
  border: 1px solid red;
  width: 100px;
  height: 100px;
  display: inline-block;
}
