div {
  border: 3px solid purple;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  transition: background 2s;
}

div:hover {
  background: purple;
  /* border: 16px dotted orange; */
  /* podemos "escutar" uma ou mais prop. separando-as por , quando necessario */
  /* transition: background 2s; */
}
